<html>
<head>
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
    {{{externalStyle}}}
  </style>
  <link rel="stylesheet" type="text/css" href="styles/highlight.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="wrapper">
    {{#slides}}
      <section class="slide">{{{.}}}</section>
    {{/slides}}
  </div>
  {{#controls}}
    <div id="controls">
      <div id="prev">&larr;</div>
      <div id="next">&rarr;</div>
    </div>
  {{/controls}}
  <script type="text/javascript">
    {{{navigation}}}
  </script>
  <script src="hilight.min.js"></script>
  <script>
  hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
